In [ ]:
!(BooksERD.png)

In [42]:
# imports
import pandas as pd
import pymysql

pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database
from sqlalchemy_utils import database_exists

from urllib.parse import quote_plus as urlquote

In [46]:
host = 'localhost'
username = 'root'
password = 'Henda2022'
database = 'books'

connection = f'mysql+pymysql://{username}:{password}@localhost/books'

In [47]:
engine = create_engine(connection)

In [48]:
create_database(connection)

In [49]:
database_exists(connection)

True

In [50]:
books = pd.read_csv('CSV/books.csv')
books.to_sql('books', engine, if_exists='replace', index=False)

6

In [51]:
favorites = pd.read_csv('CSV/favorites.csv')
favorites.to_sql('favorites', engine, if_exists='replace', index=False)

7

In [52]:
authors = pd.read_csv('CSV/authors.csv')
authors.to_sql('authors', engine, if_exists='replace', index=False)

5

In [53]:
users = pd.read_csv('CSV/users.csv')
users.to_sql('users', engine, if_exists='replace', index=False)

3

In [54]:
table_show = """SHOW TABLES;"""
pd.read_sql(table_show,engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [55]:
table_show = """SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""

In [56]:
pd.read_sql(table_show, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1